<h3>Login In Form</h3>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <label for="email">Email: </label>
    <input id="email" type="text" formControlName="email">

    <br><br>

    <label for="password">Password: </label>
    <input id="password" type="text" formControlName="password">

    <br><br>

    <button type="submit">Submit</button>

</form>

<h4>Testing API Call</h4>

<button type="button" (click)="getData()">Call Custom API</button>

<h4>API Data</h4>

<p>Message: {{apiData?.message}}</p>
<p>Api response time: {{apiData?.timestamp}}</p>

<hr>

<button type="button" (click)="getDataWithout()">API DATA WITHOUT VERIFICATION</button>

<h4>API Data</h4>

<p>Message: {{apiDataWithout?.message}}</p>
<p>Api response time: {{apiDataWithout?.timestamp}}</p>